@charset "UTF-8";
/* Home Page CSS */

.slideshow {
    max-width: 750px;
    max-height: 500px;
}

/* ----------------- */

/* Contact Form CSS */

input {
    width: 50%;
}

textarea {
    width: 50%;
}

/* ------------------ */

/* In general */

body {
    font-family: open Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 20px;
    font-weight: normal;
    display: block;
}

.middle_sec {
    float: left;
    padding: 35px 60px;
    max-width: 1000px;
    width: 75%;
    height: auto;
}

.bottom_sec {
    height: auto;
    float: left;
    width: 100%
}

/*controlling the overall background and border*/

html {
    widows: auto;
    border: 30px solid #2B1400;
    background: #E8DCD1;
    /*
            https://www.loriswebs.com/css-border-webpage.html
            https://bytes.com/topic/html-css/answers/591132-i-need-border-around-entire-page
    */
}

/* ----------------- */

/* Menu, Details & Favourites CSS */

/* Cards used for Menu adapted from Pet Adoption Site by Dr Chris Porter */

.card {
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.8);
    transition: 2s;
    width: 400px;
    border-radius: 15px;
    background-image: url('../images/Background.jpeg') !important;
}

img {
    max-width: 250px;
    max-height: 150px;
    position: center;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.MenuSettings {
    padding: 40px;
    font-style: oblique;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container_menu {
    padding: 2px 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.split {
    height: 20%;
    width: 90%;
    position: absolute;
    z-index: 20;
    overflow-x: auto;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.grid-container {
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.detailsMore {
    padding: 0px !important;
    float: right !important;
}

/* ---------------- */

/* Header and footer CSS */

.footer {
    border-top: black;
    background-color: blanchedalmond;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.logo {
    max-width: 250px;
    max-height: 100px;
    border-radius: 50%;
    margin-top: -6px;
    position: relative;
}

.grid-container-header {
    width: 35%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    text-align: center;
    text-decoration: none;
}

a:link {
    color: black;
    padding: 25px;
    white-space: nowrap;
}

a:visted {
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    color: rgba(57, 57, 57, 1.00);
}

a {
    text-decoration: none;
}

/* --------------------- */

/* Responsivness CSS */

@media only screen and (max-width: 1100px) {
    .card {
        width: 100%;
        /* You can also specify min/max widths */
        min-width: 130px;
        max-width: 400px;
    }
    .MenuSettings {
        padding: 0px !important;
    }
    .slideshow {
        max-width: 750px;
        max-height: 500px;
    }
    li a {
        text-align: left !important;
    }
    a:link {
        padding: 20px !important;
    }

    .split{
        width: 60%;
    }
}

@media only screen and (max-width: 790px) {
    .slideshow {
        max-width: 450px!important;
        max-height: 200px!important;
    }
    #bottom_sec-image {
        width: 25%;
    }
    .bottom_sec {
        width: 35% !important;
    }
    table {
        font-size: smaller;
    }
    .grid-container-header {
        grid-template-columns: auto !important;
    }
    .card {
        width: 75%;
        min-width: 115px;
        max-width: 200px;
    }
    .MenuSettings {
        font-size: 4.5vw !important;
    }
    .slideshow {
        width: 100%;
        height: 100%;
    }
    html {
        widows: 5px;
    }
    img {
        width: 41.66%;
        position: center;
    }
    .grid-container {
        grid-template-columns: auto auto !important;
        grid-gap: 10px;
    }
    .MenuSettings {
        padding: 0px;
    }
    .middle_sec {
        padding-left: 0px;
    }
}

/* --------------------- */
