{% extends "layout.html" %} {% block content %} {% for menu in menuA %}
<img src = './assets/images/{{ menu.MenuID }}.jpeg' class='centre' alt="I haven't had my picture taken yet but it will be up soon! Thank you for your patience :) ID: {{ menu.MenuID }}">
<div class='detailsPage' style="text-align:center">
    
    <h2>{{menu.Name}}</h2>
    <h3>{{menu.Type}}</h3>
    {% if menu.Price_Potential > 0 %}
    <div class="split left">
        <div class="centered">
            <p>Small Portion<br></p>
            <p>€{{ menu.Price }}</p>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <p>Large Portion<br></p>
            <p>€{{ menu.Price_Potential }}</p>
        </div>
    </div>
    <br><br><br><br><br><br> <br><br> {% elseif menu.Price > 0 %}

    <p>€{{ menu.Price }}</p>

    {% endif %} {{menu.Ingredients}}  {% endfor %}

    <p>
    <form  method="post">
        <button type='submit' name='submit'>{{ value }} Favourites</button>
    </form>
    <br><br>
    <button onclick="location.href='Menu.php'">Back</button>
    </p>
</div>{% endblock %}