<script>
  function Hide() {
    var x = document.getElementById("GDPR");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
<div class="footer" id="GDPR">
  <ul style="padding: 10px">
    <li style='float: left !important;'>For us to provide the best user experience and more functionality to our website we need to use cookies<br>
    By using this website you are consenting to the <a href="CookiesInfo.php" style="padding-left: 0px; color: blue;">use of cookies.</a></li>
    <li style='float: right !important; ' ><form  method='post' class = 'right'><button name='CookiesUnderstand' onclick="Hide()">I understand</button></form></li>
  </ul>
</div>
