<div>
<header>
    <ul>
        <li><a href="index.php">
            <img src='./assets/images/Logo.png' style='margin: 0;' class ='logo'>
        </a></li>
        <div id="top_right" >
            <li><a href="AboutUs.php"> About us </a></li>
            <li><a href="Menu.php"> Menu </a></li>
            <li><a href="favourites.php"> Favourites </a></li>
            <li><a href="ContactForm.php"> Contact Us </a></li>
        </div>
        
      </ul>
    </header>
<br>
</div>