<div>
<header>
    <ul class = "grid-container-header">
        <!-- To display the logo -->
        <li><a href="index.php">
            <img src='./assets/images/Logo.png' style='margin: 0; padding-top: 5px' class ='logo'>
        </a></li>
        <!-- To display the nav bar -->
            <li style ="padding-top: 40px";><a href="AboutUs.php"> About us </a></li>
            <li style ="padding-top: 40px"><a href="Menu.php"> Menu </a></li>
            <li style ="padding-top: 40px"><a href="favourites.php"> Favourites </a></li>
            <li style ="padding-top: 40px"><a href="ContactForm.php"> Contact Us </a></li>
        
      </ul>
</header>
<br>
</div>