{% extends "layout.html" %} {% block content %}

<!--- Distinguish between Favourites Menu and Normal Menu using the MenuSet passed if it is the normal menu -->
{% if MenuSet is defined %}

    <head>
        <title>Food Menu</title>
    </head>

    <div class='MenuSettings'><br>
        <h1 style='text-align: center'>Menu</h1>

{% else %} 

    <head>
        <title>Favourites</title>
    </head>

    <h1>Favourites Menu</h1>
    <!-- Email sendning html -->
    <form method='post'>
        <input type='text' name='email' placeholder='Your E-mail' required=''>
        <button type='submit' name='submit'>Send Favourites</button>
    </form>

    <div class="MenuSettings grid-container">
    
{% endif %}

{% for item in Menu %}

{% if MenuSet is defined %}{% if (item.Type != preType) %}
<!-- Dynamic Type -->
    </div> <h2>{{ item.Type }}</h2>
    <!-- New grid created for every type -->
    <div class="MenuSettings grid-container"> {% endif %} {% endif %}
    <div class="card grid-item">
        <div class="container_menu">
            <!-- Image being pulled using the MenuID -->
            <img src='./assets/images/{{ item.MenuID }}.jpeg' class='centre'
                alt="I haven't had my picture taken yet but it will be up soon! Thank you for your patience :) ID: {{ menu.MenuID }}">
            <h4><b>{{ item.Name }} </b></h4>
            <p>
            <table>
                <tr>
                    <!-- Price_Potential is used to show that a small/large portion is available as opposed to just a normal portion-->
                    <td>{% if item.Price_Potential != null %}Small Portion{% endif %}</td>
                    <td>{% if item.Price_Potential != null %}| Large Portion{% endif %}</td>
                </tr>
                <tr>
                    <td>€{{ item.Price }}</td>
                    <td>{% if item.Price_Potential != null %}| €{{ item.Price_Potential }} {% endif %}</td>
                </tr>
            </table>
            <br>
            <!-- Link to send user to details page-->
            <a class="detailsMore" href="details.php?a={{ item.MenuID }}">More Info</a>
            </p>
        </div>
    </div> <!-- Variable set to detect change in type --> {% set preType = item.Type %}
    {% endfor %}
</div> 
{% endblock %}